<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center"><i class="fa fa-arrow-down" aria-hidden="true"></i></th>
        <th class="text-center"><i class="fa fa-arrow-down" aria-hidden="true"></i></th>
        <th class="text-center"><i class="fa fa-arrow-down" aria-hidden="true"></i></th>
        <th class="text-center"><i class="fa fa-arrow-down" aria-hidden="true"></i></th>
        <th class="text-center"><i class="fa fa-arrow-down" aria-hidden="true"></i></th>
        <th class="text-center"><i class="fa fa-arrow-down" aria-hidden="true"></i></th>
        <th class="text-center"><i class="fa fa-arrow-down" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </table>
</div>
